* {
    box-sizing: border-box;
}

h1 {
    font-family: Georgia, serif;
    color: #ffffff;
}

body {
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
    background-color: #161414;
    color: #000000;
}

footer {
    font-family: Georgia, serif;
    font-size: 12px;
    padding-left: 10px;
    position:absolute;
    bottom: 0;
    width: 100%;
}

/* Links */
a {
    text-decoration: none;
}
a:link {
    color: #0044cc;
}
a:visited {
    color: #333333;
}
a:hover {
    color: #666666;
}

/* the canvas *must not* have any border or padding, or mouse coords will be wrong */
#canvas {
    padding-right: 0;
    display: block;
    border: 0px none;
    visibility: hidden;
}